.card {
  background-color: rgb(223, 204, 204);
  border-radius: 6px;
  box-shadow: 0 2px 8px black;
  /* float: left; */
  flex: 0 0 calc(33.33% - 20px);
  max-width: 0 0 calc(33.33% - 20px);
  width: 100%;
  margin: 10px auto;
}
